<div class="wrapper">
  <h1 class="search-title">Encontre o imóvel dos seus sonhos</h1>
  <div class="search">
    <input class="input-query" [formControl]="query" type="text" placeholder="Digite aqui sua pesquisa">
  </div>
  <h2 class="title">Imóveis</h2>
  <div class="cards-grid" *ngIf="properties$ | async as properties; else loading">
    <ng-container *ngIf="properties?.length else emptyProperties">
      <ng-container *ngFor="let property of properties">
        <imob-card-default [data]="property"></imob-card-default>
      </ng-container>
    </ng-container>
  </div>
</div>
<ng-template #loading>
  <span class="spinner"></span>
</ng-template>
<ng-template #emptyProperties>
  <p>Nenhum resultado encontrado</p>
</ng-template>